# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NPM
node_modules/
package-lock.json

# Compiled files:
bin/
lib/
